# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Locations
.ipynb_checkpoints

# Virtual Env
venv/
.env

# Data
data/raw/*
!data/raw/.gitkeep
!data/raw/*.dvc
data/processed/*
!data/processed/.gitkeep
!data/processed/*.dvc
data/interim/*
!data/interim/.gitkeep
!data/interim/*.dvc
models/*
!models/.gitkeep

# OS
.DS_Store
Thumbs.db
